/* Soltech | Energy Solutions HTML Template  */

@media only screen and (max-width: 1700px){
	.main-header .outer-box{
		margin-left: 30px;
	}

	.main-menu .navigation > li{
		margin-right: 40px;
	}

	.header-top,
	.header-upper{
		padding: 0 50px;
	}
}

@media only screen and (max-width: 1439px){
	.main-header .outer-box{
		display: none;
	}

	h1{
		font-size: 70px;
	}

	.fun-facts .counter-column .inner-column{
		padding-left: 0;
		text-align: center;
	}

	.fun-facts .icon-box{
		position: relative;
		display: inline-block;
		left: 0;
		top: 0;
		display: inline-block;
	}

	.fun-facts .count-box{
		justify-content: center;
	}

	.fun-facts .outer-box:before{
		left: -15px;
	}

	.header-top,
	.header-upper{
		padding: 0 20px;
	}

	.banner-section.style-two{
		padding-top: 0;
		min-height: auto;
	}

	.banner-section.style-two .content-box{
		min-height: 670px;
	}

	.contact-section .image-column .inner-column{
		margin-left: 0;
	}
}


@media only screen and (max-width: 1199px){
	.main-menu .navigation > li{
		margin-right: 30px;
	}

	.sec-title .text br{
		display: none;
	}

	.projects-section .projects-carousel{
		max-width: 740px;
	}

	.awards-section .awards-carousel{
		left: 0;
	}

	.who-we-are .our-mission,
	.main-footer .links-widget{
		padding-left: 0;
	}

	.banner-section .content-box{
		min-height: 850px;
	}

	.banner-section .fun-facts{
		position: relative;
		background: rgba(25, 25, 57, .95);
	}

	.banner-section .fun-facts .outer-box{
		padding: 40px 0 30px;
	}

	.sec-title .text{
		padding-left: 0;
		padding-top: 40px;
		margin-top: 30px;
	}

	.banner-section .content-box .text br,
	.awards-section .awards-carousel:before,
	.awards-carousel .owl-nav{
		display: none;
	}

	.awards-carousel .owl-dots{
		position: relative;
		left: 0;
		justify-content: center;
		margin-top: 50px;
	}

	.contact-section .form-column{
		order: 0;
	}

	.contact-section .image-column .inner-column{
		padding-right: 0;
		text-align: center;
	}

	.who-we-are .btn-box,
	.sidebar{
		padding-left: 0;
	}

	.contact-section .form-column .inner-column,
	.service-detail{
		padding: 0;
	}

	.fun-facts-two .counter-title{
		max-width: 220px;
		margin: 0 auto;
	}
}


@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}


@media only screen and (max-width: 1023px){
	.sticky-header{
		display: none !important;
	}

	.mobile-nav-toggler{
		display: block;
	}

	.header-style-two .mobile-nav-toggler{
		color: #328737;
	}

	.main-header .nav-outer .main-menu{
		display: none;
	}

	.main-header .logo img{
		height: 50px;
		width: auto;
	}

	h1{
		font-size: 54px;
	}

	h2{
		font-size: 38px;
	}

	.sec-title-outer{
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
	}

	.sec-title-outer .sec-title{
		max-width: 100%;
	}

	.banner-section .content-box{
		min-height: 680px;
	}

	.banner-section .background-image{
		background-position: top center;
	}

	.banner-section.style-two .background-image:before,
	.banner-section .background-image:before{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: #000;
		content: "";
		opacity: .4;
	}

	.about-section .image-layer{
		display: none;
	}

	.about-section{
		padding: 120px 0;
	}

	.projects-section-two:before{
		width: 100%;
	}

	.testimonial-block-two .content{
		padding-right: 40px;
	}

	.testimonial-block-two .image{
		padding-left: 0;
	}

	.contact-page-section .contact-info-widget{
		max-width: 100%;
	}

	.map-canvas{
		height: 400px;
	}

	.service-detail-section .content-side,
	.sidebar-page-container .content-side{
		order: 0;
	}


}

@media only screen and (max-width: 991px){
	.content_block_3 .content-box,
	.service-block-four .inner-box,
	.pricing-block-one,
	.working-block-two .inner-box,
	.team-block-one .inner-box,
	.news-block.st-news-block{
		margin-bottom:30px;
	}
	.pricing-section .upper-box{
		margin-bottom:50px;
	}
	.pricing-section .sec-title{
		margin-bottom:0px;
	}
	.sec-title .text:before{
		top:0px;
	}
	.single-testimonials-style1 .text-holder{
		padding-bottom:38px;
	}
	.project-style-two .outer-container{
		padding:0 15px;
	}
}

@media only screen and (max-width: 767px){

	.soltech-comment-item > .soltech-comment-item {
		margin-left: 0;
	}
	
	.who-we-are,
	.awards-section,
	.news-section,
	.about-section,
	.projects-section-two,
	.news-section-two,
	.timeline-section,
	.testimonial-section-two,
	.services-section.alternate,
	.project-detail-section,
	.projects-section-three,
	.testimonial-section,
	.projects-section,
	.services-section{
		padding: 70px 0;
	}

	.sidebar-page-container,
	.service-detail-section,
	.contact-page-section,
	.contact-section,
	.why-choose-us{
		padding: 70px 0 20px;
	}

	.main-footer.style-two .widgets-section{
		padding-top: 100px;
	}

	h1{
		font-size: 44px;
	}

	h2{
		font-size: 32px;
	}

	.projects-carousel .active .project-block .image img,
	.project-block .image,
	.project-block .image img{
		height: 400px;
	}

	.sec-title h2 br,
	.project-block-two .caption-box h3 br,
	.project-block .caption-box h3 br{
		display: none;
	}

	.banner-section.style-two .content-box{
		padding-top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 600px;
	}

	.testimonial-block-two .inner-box{
		display: block;
	}

	.testimonial-block-two .image{
		padding: 0;
		margin: 0;
	}

	.testimonial-block-two .content{
		margin: 0;
	}

	.page-title {
	    padding: 150px 0 70px;
	    min-height: auto;
	}

	.timeline-image-slider{
		margin-bottom: 40px;
	}

	.timeline-block{
		padding-top: 20px;
		max-width: 100%;
	}

	.timeline-slider .swiper-slide{
		max-width: 100%;
	}

	.timeline-slider{
		overflow: hidden;
	}
	.project-style-two .upper-box{
		text-align:center;
	}
	.project-style-two .sec-title{
		width:100%;
		margin-bottom:30px;
	}
	.project-style-two .upper-box .btn-box{
		margin-top:0px;
		margin-bottom:50px;
		float:none;
	}
	.news-block-large .content-box .upper-wrap{
		border-left:none;
	}
}

@media only screen and (max-width: 599px){

	.footer-bottom .inner-container{
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	.footer-bottom .footer-nav{
		order: 2;
	}

	.who-we-are .btn-box{
		padding-left: 0;
	}

	h1{
		font-size: 38px;
	}

	h2{
		font-size: 28px;
	}

	h3{
		font-size: 24px;
	}

	.news-block-two .inner-box{
		padding-left: 0;
	}

	.news-block-two .image{
		position: relative;
		width: 100%;
	}

	.news-block-two .image img{
		object-fit: cover;
	}

	.projects-section-two .swiper-slide{
		width: 100% !important;
		max-width: 100% !important;
	}

	.project-block-two .image img{
		height: 450px !important;
	}

	.list-style-one li{
		margin-bottom: 20px;
	}

	.header-top .inner-container{
		justify-content: center;
	}

	.header-top .top-left{
		display: none;
	}

	.shop-upper-box{
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.shop-upper-box .sort-by{
		margin-top: 20px;
	}

	.who-we-are .background-image:before{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		opacity: .70;
		content: "";
		background: #ffffff;
	}
	
	.project-style-two .upper-box{
		text-align:center;
	}
	
	.project-style-two .upper-box .btn-box{
		float:none;
		margin-bottom:50px;
	}
	
	.single-testimonials-style1{
		padding-left:0px;
	}
	
	.single-testimonials-style1 .img-holder{
		position:relative;
		left:auto;
		top:auto;
		width:100%;
	}
	
	.st-news-block.news-block .content-box{
		padding:0px;
	}

}

@media only screen and (max-width: 479px){
	.sidebar .search-box .form-group button,
	.default-form .form-group input[type="submit"], 
	.default-form .form-group button,
	.subscribe-form-two .form-group .theme-btn,
	.subscribe-form .form-group .theme-btn{
		position: relative;
		display: block;
		width: 100%;
		margin-top: 20px;
	}

	.award-block .inner-box{
		min-height: 255px;
		max-width: 375px;
		margin: 0 auto;
		background-size: 95% auto;
	}

	.comments-area .comment{
		padding-left: 0;
	}

	.comments-area .comment-box .author-thumb{
		position: relative;
		margin-bottom: 20px;
	}

	.blockquote-style-one p{
		font-size: 18px;
		line-height: 28px;
	}

	.project-info-box .project-info li{
		margin-bottom: 20px;
	}

	.project-info-box .project-info{
		flex-direction: column;
	}

	.project-info-box .project-info h5{
		margin-bottom: 1px;
	}
	
	.sec-title h2{
		font-size:24px;
		line-height:35px;
	}
}